body{
    margin: 0;
    padding: 0;
}

.padre{
    display: flex;
}

.contactos{
    width: 25vw;
    display: flex;
    flex-direction: column;
    border: 1px #100f0f;
}

.boton{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #b7b7b7;
}

.boton button{
    height: 60px;
    width: 250px;
    background-color: #a490d2;
    border: none;
    color: white;
}

.networking{
    display: flex;
    width: 75vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    gap: 3%;
}

.hand{
    display: flex;
}

.hand img{
    width: 350px;
}

.hand-text{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
}

.hand-text h1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin: 0;
}

.hand-text p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

.maria{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 2vh;
    padding: 0 3rem 0 3rem;
}

.foto-maria{
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-maria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    padding-left: 1vh;
}

.texto-maria h5, p{
    margin: 0;
    padding: 0;
}

.foto-maria img{
    border-radius: 50%;
    max-width: 50px;
    border: 1px solid #ddd;
}

.ahora{
    color: #9b9999;
}

.activo{
    display: flex;
    justify-content: center;
}

.iconos{
    display: flex;
    color: #9b9999;
    gap: 30%;
    font-size: 1.6rem;
}

.inactivos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #b7b7b7;
    gap: 6%;
    padding-left: 8%;
}

.imgs-inac{
    display: flex;
    align-items: center;
    margin: 1rem 1rem;
}

.imgs-inac img{
    border-radius: 50%;
    max-width: 70px;
    border: 2px solid #ddd;
}

.text-inac h5{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: #1B1F21;
    margin: 0;
}

.text-inac p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
    color: #1B1F21;
    margin: 0;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    color: #1B1F21;
}

.open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: small;
}

.open-sans-button{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: white;
}